@import '../../styles/variables','../../styles/config';

.second-section{
    padding: 0.5em;
    width: 100%;
    
}

.second-section-container{
    @include ContainerCenter;
    width: 100%;
 


    &-heading{
        text-align: center;
        font-size: 1.2rem;
         margin-top: 3em;
       
    }
}

.card-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 2em;
}
.card-container{
    @include flexDirection(column);
      text-align: center;
      
       

    &-icon{
    @include iconColor;
    padding: 1.5em;
    border: 1px solid $secondary-color;


}
    &-text{

        &-heading{
            font-size: 1rem;
            margin-top: 0.5em;
        }
        &-para{
            font-size: 1rem;
            display: none;
        }

}
}

@include media-md{
    .second-section{
        padding: 0 2em;
    }
    .card-container-text-para{
        display: block;
        text-align: center;
    }
}